/******************** header ********************/
header {
    display: grid;
    grid-template-columns: 25px auto 44px;
    padding: 5px 0 10px;
    align-items: end;
    column-gap: 8px;

}
header img{
    display: block;
    width: 100%;
    height: auto;

}
header span{
    font-size: 1rem;
}
.chamdid{
    background: none;
    border: none;
    color: #3D405B;
    cursor: pointer;
}
.chamdid::before{
    content: "\2630";
    font-size: 1rem;
}

.chamdid.show::before{
    content: "\00D7";
}

/******************** body ********************/
body{
    font-family: "Roboto", sans-serif;
}

.menu{
    text-align: center;
    margin: .4rem auto;
    margin: 15px;
    padding: 15px;
    background-color: #999cb5;
    border-radius: 10px;
}

/******************** navigation ********************/
.navi{
    display: none;

}
.navi.show{
    display: block;
}
.navi ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.navi a{
    display: block;
    padding: .8rem 10px;
    color: #3D405B;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
    text-align: center;

}
.navi li.current{
    background-color: #ddd;
}
.navi a:hover{
    background: #999cb5;
}

/******************** buttons ********************/
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
}

.grid section {
	text-align: center;
	margin: 0.1rem;
}
	

.grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 1rem #555;
}


h3 {
	font-size: 1.2rem;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section > *{
	margin: 0 1rem;
}

.list img {
	display: none;
}

.list section:nth-child(even) {
	background-color: #bbb;
}

/******************** section ********************/
.members img{
    width: 100%;
    height: auto;
    display: block;

}
.members section{
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 5px;
    background-color: #a1a2a8;
    color: #f0d5d5;
    border-radius: 15px;


}

.top{
    text-align: center;
    border-bottom: 1px solid;
}
.bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 8px auto;
    gap: 10px;
    align-items: center;
}
.info{
    flex: 1;
}
/******************** footer ********************/


footer{
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}
.media{
    display: flex;
    justify-content: center;
    column-gap: 8px;

}

.media a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #3D405B solid 1px;
    border-radius: 10px;

}
.media img{
    width: 22px;
    height: 22px;
}

.media a:hover{
    background-color: #ddd;
}